

/*.main-div{
	background-color: #f5f7f7;
	max-width: 1248px;
	margin: 0 auto;
}
*/
.head {
	width: 100%;
	position:fixed;
    top:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    z-index: 10000;
}

.head-menu {
	background-color: #6ec6b7;
	height: 140px;

}

.logo {
	width: 210px;
	height: 85px;
	display: inline-block;
	margin: 30px 100px;

}

.nav {
	background-color: #fff;
	display:inline-block;
	width: 30%;
	float: right;
	margin: 60px 100px;
	}

.search {
	background-color: #fff;
	width: 100%;
	border-bottom: 3px solid #e0e0e0;
	min-height: 50px;
	top: 100px;

}

.search-icon {
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}

.search > div > input[type="text"] {
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
	font-weight: 400;
	color: #5a5a5a;
	letter-spacing: .12em;
	border: 0;
	width: 65px;
}

.image {
	min-height: 643px;
	width: 100%;
	background-color: #5a5a5a;
}

/*.about {
	background-color: #fff;
	position: relative;
	min-height: 100px;
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 560px;
}*/

.about2 {
	overflow: hidden;
	background-color: #fff;
	color:#5a5a5a;
	padding-top: 15px 20px;
	box-shadow: 4px 4px  #e0e0e0;
	position: relative;
	min-height: 200px;
	/*min-width: 143px;*/
	width: 80%;
	margin: 0 auto;
	left: 130px;
	right: 25%;
	top: 550px;
	display: inline-block;
	left:20%;
	width:50%;
/*	height:50%;
*/	/*top:25%;*/
/*	position:absolute;
*/	text-align:center;
	text-transform: uppercase;
}

.pattern {
	width: 100%;
	/*background-color: #6ec6b7;*/
	min-height: 70px;
}

.space {
	width: 100%;
	height: 225px;
}

.preview {
	width: 100%;
	background-color: #5a5a5a;
	height: 300px;
}

.preview-item {
	width: 33%;
	min-width: 350px;
	height: 300px;
	display: inline-block;
	background-color: #fff;
}

.post {
	width: 360px;
	height: 640px;
	background-color: #fff;

}

.post-interior {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.post-interior > h4 {
	font-size: 1.250em;
	line-height: 1.4;
	padding: 15px 25px 15px 25px;
	width: 250px;
	text-align: center;
	margin: auto;
}

.post-interior > img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(25, 25, 112, 1);
    z-index: -1;
/*	  0.4; opacity: 
*//*		filter: alpha(opacity=40);
*/}

.post-interior > div.blog-date {
	position: absolute;
/*	top: -40px;
*/	left: 170px;
	margin-top: 235px;
	z-index: 9000;
}

.post-interior > p.foo {
	color: #5a5a5a;
	font-weight: black;
	text-align: center;
	font-size: 15px;
	margin: 20px;
	font-family: AdobeGaramondProRegular, Georgia, serif;
}

.post-interior > h4 {
	margin-top: 25px;
}

.post-interior > p.author-name {
	text-align: center;
	margin-bottom: 0 0 50px 0;
}

.foot-space {
	width: 100%;
	min-height: 60px;
}

.head-space {
	width: 100%;
	min-height: 60px;
}

.footer {
	width: 100%;
	min-height: 40px;
	background-color: #fff;
	position:fixed;
    height:50px;
    border-top: 3px solid #6ec6b7;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    z-index: 9999;
}

.footer-center {
	background-color: #fff;
	max-width: 1248px;
	margin: 0 auto;
}

.home-welcome{
	padding-top: 193px;
}

.home-welcome > img {
	display: block;
}

/*.home-welcome-text{
	font-size: 86pt;
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;
	font-weight: black;
	line-height: 90pt;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .06em;
	text-align: center;

}*/

.green-bar{
    background-image: url('img/MICA_pattern_single.jpg');
    background-repeat: repeat-x; /* for horizontal repeat */
    height:50px;
}

.green-bar > button {
	border: 0;
/*	padding: 10px 25px;
*/	position: relative;
	padding: 0;
	height: 38px;
	width: 216px;
	top: 20%;
	left: 50%;
	margin: -38px -108px;
	opacity: 0.7;
	color: #5a5a5a;
	background-color: #fff;
}

.green-bar > button:hover {
	background-color: pink;

}

.green-bar > button:active {
	background-color: blue;
}

.further-button{

}

.pattern-button {

}


.post-preview {
	position: relative;
}

.post-preview-img {
	position: relative;
	z-index: 1;
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

.post-preview-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	color: #fff;
	background-color: rgba(90, 90, 90, .8);
}

.post-preview-content {
	position: relative;
	top: 50%;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


.post-preview-content p {
	text-align: center;
	color: #fff;
	font-size: 15px;
}


/*.post-preview {

	background-color: #5a5a5a;
	opacity: 1;
	max-width: 416px;
	max-height: 300px;
	padding: 30px;
}

.post-preview > img {
	position: absolute;


}

.post-preview-interior > h3 {
	font-weight: black;
	font-size: 25px;
	line-height: 1.4;
	padding: 15px 20px;
	margin-bottom: 0.7em;
	border: 3px solid #fff;
	letter-spacing: .06em;
	width: 240px;
	text-align: center;	
	margin: 30px auto;
}

.post-preview-interior {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.post-preview-interior > p {
	text-align: center;
	color: #fff;
	font-size: 15px;
	margin: 20px;
}

.post-preview-interior > p.foo {
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;

}*/


.post-date-center {
	width: 100px;
	margin: auto;
}

.title-subtitle {
	width: 100%;
	height: 225px;
}

.footer-space {
	width: 100%;
	height: 120px;
}

.title-subtitle > h1 {
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;
	font-weight: black;
	font-size: 1.563em;
	line-height: 1.125;
	padding-top: 70px;
	margin-bottom: 0.3em;
	color: #6ec6b7;
	letter-spacing: .12em;
	text-align: center;

}

.title-subtitle > h2 {
	font-family: GriffithGothic , Helvetica, Georgia, serif;
	font-weight: light;
	font-size: 1.563em;
	line-height: 1.2;
	padding-top: 0.8333em;
	margin-bottom: 0.7em;
	color: #5a5a5a;
	letter-spacing: .120em;
	text-align: center;
}


.blog-posts {
	width: 100%;
	background-color: #f5f7f7;
}

.post-item-date {
	width: 143px;
	height: 280px;
	display: inline-block;
	position: relative;
}

.post-unit {
	width: 33%;
	margin-bottom: 30px;

	max-width: 375px;
	min-width: 290px;
	height: 560px;
	display: inline-block;
	margin-left: 30px;
	background-color: #fff;
}

.post-img {
	width: 100%;
	max-width: 375px;
	height: 265px;
	display: inline-block;
/*	margin-left: 30px;
*/	background-color: #5a5a5a;
}

/*.post > p.foo {
	text-align: center;
	color: #fff;
	font-size: 15px;
	margin: 20px;
}

.post-preview-interior > p.foo {
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;

}*/


.sm-pattern {
	width: 100%;
	background-color: #6ec6b7;
	height:15px;
}

.sm-space {
	height: 30px;
	width 100%;
}

/*.external-links {
	margin: 30px 100px;
	color: #5a5a5a;
	background-color: #fff;
	display: inline-block;
}*/

.social {
	margin: 12px 100px;
	color: #fff;
	display: inline-block;
	float: right;

}

.post-date {
	overflow: hidden;
	background-color: #fff;
	color:#5a5a5a;
	padding-top: 15px 20px;
	box-shadow: 4px 4px  #e0e0e0;
	position: relative;
	min-height: 37px;
	min-width: 143px;
	width: 25%;
/*	margin: 0 auto;
*/	left: 130px;
	right: 0;
	top: 245px;
	display: inline-block;
	left:25%;
	width:50%;
/*	height:50%;
*/	/*top:25%;*/
/*	position:absolute;
*/	text-align:center;
	text-transform: uppercase;

}

.blog-container {
	width: 100%;
}

/*overflow: hidden;
	max-height: 200px;
	width: 80%;
	background-color: #fff;
	color: #5a5a5a;
	box-shadow: 4px 4px  #e0e0e0;
	*/










