/* @group Reset */

/* Based on http://meyerweb.com/eric/tools/css/reset/ */

html, body, applet, object, iframe, svg,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-decoration: inherit;
	text-align: left;
	background: transparent;
	line-height: 28px;
}
header, footer, figure, details, hgroup,
section, article, nav, aside {
	display: block;
}
img, object, audio, video, svg {
	max-width: 100%;
}

/* @end Reset */

/* @group Typography */

/*html {
	border-top: 0.5em solid #6ec6b7;
	background-color: #fff;
}
*/body {
	background-color: #fefefe;
	background: #f5f7f7;
	margin: 0 2.5%;
	padding: 0 2.5%;
	font-size: 100%;
	line-height: 1.875;
	color: #5a5a5a;
}

h1 {
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;
	font-weight: black;
	font-size: 1.563em;
	line-height: 1.125;
	padding-top: 1em;
	margin-bottom: 0.3em;
	color: #6ec6b7;
	letter-spacing: .12em;
}
h2 {
	font-family: GriffithGothic , Helvetica, Georgia, serif;
	font-weight: light;
	font-size: 1.563em;
	line-height: 1.2;
	padding-top: 0.8333em;
	margin-bottom: 0.7em;
	color: #5a5a5a;
	letter-spacing: .120em
}
h3 {
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;
	font-weight: black;
	font-size: 1.563em;
	line-height: 1.4;
	padding: 25px 25px 25px 25px;
	color: #fff;
	border: 3px solid #fff;
	text-transform: uppercase;
	letter-spacing: .06em;
	text-align: center;
	margin-top: 30px;
}
h4 {
	font-family: GriffithGothic Regular, Cambria, Georgia, serif;
	font-weight: bold;
	font-size: 1.250em;
	line-height: 1.4;
	padding: 15px 25px 15px 25px;
	color: #6ec6b7;
	border: 3px solid #6ec6b7;
	letter-spacing: .120em;
	text-align: center;
}
h5 {
	font-family: GriffithGothic Regular, Cambria, Georgia, serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 1.6667;
	padding-top: 1.1111em;
	color: #5a5a5a;
}
h6 {
	padding-top: 1em;
	color: #999;
}
b, strong {
	font-weight: bold;
}
i, em {
	font-style: italic;
}
hr {
	border: none;
	height: 0.1em;
	background: #ccc;
	background-color: rgba(0,0,0,0.2);
}
p, ul, ol, hr, table, form, fieldset {
	margin: 1.25em 0;
}
li {
	list-style-position: inside;
}
blockquote {
	margin: 1em;
	border-top: 0.1em solid;
	border-bottom: 0.1em solid;
	padding: 0 1em;
	font-family: Palatino, Georgia, serif;
	font-style: italic;
	font-size: 1.25em;
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: #888;
	border-color: #ccc;
	border-color: rgba(0,0,0,0.2);
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
}
blockquote em {
	font-style: normal;
}
figcaption {
	font-family: Palatino, Cambria, Georgia, serif;
	font-style: italic;
	font-size: 0.857em;
	line-height: 1.4286;
	color: #666;
}
article > p,
article section > p {
	font-size: 1.125em;
	line-height: 1.6667;
	word-spacing: 0.1em;
	margin: 1.1111em 0;
/*	Does this improve the reading experience?
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	text-align: justify;
*/
}
article footer+p:first-letter,
article section>h2+p:first-letter,
article section>p:first-child:first-letter {
	display: inline-block;
	float: left;
	font-family: Calibri, 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
	font-size: 4em;
	line-height: 0.75;
	letter-spacing: -0.025em;
	margin-right: 0.05em;
	background-color: #693;
	color: #fff;
	border: 1px solid #693;
}
time {
	display: block;
	text-align: right;
	font-weight: normal;
	font-family: Palatino, Cambria, Georgia, serif;
	text-transform: uppercase;
	font-size: 0.75em;
	line-height: 1.6667;
	letter-spacing: 0.2em;
	color: #888;
}
time:before {
	content: '—';
}

/* @end Typography */

/* @group Links */

a {
	text-decoration: none;
	/*border-bottom-style: dotted;*/
	border-bottom-width: 1px;
	white-space: pre-wrap;
}
a:link,
a:visited {
	color: #6ec6b7;
}

a[href]:hover,
a[href]:focus {
	color: #c03;
	border-bottom-color: #c03;
}
a:active {
	color: #900;
	border-bottom-color: #900;
}
.logo a, h1 a, h2 a, h3 a {
	border: none;
}

/* @end Links */

/* @group Forms */

label {
	cursor: pointer;

}
input[type],
textarea,
select {
	background-color: #fff;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	padding: 0.125em;
	border: 1px solid #ccc;
	/*-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;*/
}
input[type="checkbox"],
input[type="radio"],
input[type="image"] {
	width: auto;
}
input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: #666;
}
input[required],
textarea[required] {
	border-color: #999;
}
button,
input[type="button"],
input[type="submit"] {
	width: auto;
	text-align: center;
	font-family: GriffithGothic Regular, 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	border: 3px solid #f5f7f7; 
	cursor: pointer;
	padding: 15px 25px 15px 25px;
	line-height: 1;
	background-color: #6ec6b7;

	color: #fff;
	/*background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#47a),to(#258));
	background-image: -moz-linear-gradient(top,#47a,#258);
	background-image: -o-linear-gradient(top,#47a,#258);
	background-image: linear-gradient(top,#47a,#258);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;*/
}
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	outline: none;
	background-color: #fff;
	color: #6ec6b7;

	/*background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#d04),to(#b02));
	background-image: -moz-linear-gradient(top,#d04,#b02);
	background-image: -o-linear-gradient(top,#d04,#b02);
	background-image: linear-gradient(top,#d04,#b02);*/
}
button:active,
input[type="button"]:active,
input[type="submit"]:active {
	background-color: #fff;
	border: 3px solid #6ec6b7;
	color: #6ec6b7;


/*	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#800),to(#a00));
	background-image: -moz-linear-gradient(top,#800,#a00);
	background-image: -o-linear-gradient(top,#800,#a00);
	background-image: linear-gradient(top,#800,#a00);*/
}

/* @group search */

[role="search"] {
	position: relative;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 0.75em;
	-webkit-border-radius: 1em;
	-moz-border-radius:1em;
	-o-border-radius: 1em;
	border-radius: 1em;
}
[role="search"] input {
	border: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
[role="search"] input[type="image"] {
	background-color: #fff;
	position: absolute;
	width: 0.9375em;
	top: 0.2em;
	right: 0.6em;
	padding: 0.2em 0.2em;
}

.menu {

}

/* @end search */

/* @end Forms */

/* @group Classes */

/* @group pagination */

.pagination {
	font-family: Calibri, 'Helvetica Neue', Arial, sans-serif;
}
.pagination li {
	display: inline;
	margin-left: 0;
	text-indent: 0;
}
.pagination a {
	display: inline-block;
	padding: 0.5em 1em;
	line-height: 1;
	margin: 0.1em;
	border: 1px solid #666;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
	background-clip: padding-box;
}
.pagination a:link,
.pagination a:visited {
	color: #fff;
	background-color: #369;
}
.pagination a[href]:hover,
.pagination a[href]:focus {
	color: #fff;
	background-color: #c03;
}
.pagination a:active {
	color: #fff;
	background-color: #900;
}

/* @end pagination*/

/* @group control */

a.control {
	font-family: Calibri, 'Helvetica Neue', Arial, sans-serif;
	display: inline-block;
	font-size: 1.5em;
	padding: 0.5em 0.75em;
	line-height: 1;
	border: 1px solid #666;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
	background-clip: padding-box;
}
a.control:link,
a.control:visited {
	background-color: #369;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#47a),to(#258));
	background-image: -moz-linear-gradient(top,#47a,#258);
	background-image: -o-linear-gradient(top,#47a,#258);
	background-image: linear-gradient(top,#47a,#258);
	color: #fff;
}
a.control:hover,
a.control:focus {
	outline: none;
	background-color: #c03;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#d04),to(#b02));
	background-image: -moz-linear-gradient(top,#d04,#b02);
	background-image: -o-linear-gradient(top,#d04,#b02);
	background-image: linear-gradient(top,#d04,#b02);
	color: #fff;
}
a.control:active {
	background-color: #900;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#800),to(#a00));
	background-image: -moz-linear-gradient(top,#800,#a00);
	background-image: -o-linear-gradient(top,#800,#a00);
	background-image: linear-gradient(top,#800,#a00);
	color: #fff;
}

/* @end control */

/* @group feedback */

.feedback {
	background-color: #ffc;
	padding: 0.125em 1em;
	margin: 1em 0;
	border-top: 0.125em solid #cc9;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
	background-clip: padding-box;
}
.error {
	background-color: #fcc;
	border-color: #c99;
}

/* @end feedback */

/* @group options */

.options {
	list-style: none;
	border-top: 1px solid #ccc;
}
.options li {
	text-indent: 0;
	font-family: Calibri, 'Helvetica Neue', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-weight: bold;
	margin: 0;
	padding: 0.3125em 0.625em;
	border-bottom: 1px solid #ccc;
}
.options a {
	display: block;
	border: none;
}

/* @end options*/

/* @end Classes */


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  float: right;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: GriffithGothic Regular;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
	font-family: GriffithGothic Regular;
 	display: none;
 	float: left;
}
#cssmenu {
  background: #6ec6b7;
  margin: 50px 5% 0 0;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

/*#cssmenu > ul > li > a:active {
	text-decoration: none; 
	border-bottom: 2px solid #fff;
}*/

.test-underline {
	border-bottom: 2px solid #fff;
}

#cssmenu > ul > li:hover > a {
 	color: #fff;

}

#cssmenu > ul > li > a > span:hover {
 	color: #fff;
 	border-bottom: 2px solid #fff;
}

#cssmenu > ul > li > a > span.current {
 	color: #fff;
 	border-bottom: 2px solid #fff;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  	padding: 11px 15px;
  	width: 170px;
  	font-size: 14px;
  	text-decoration: none;
  	color: #5a5a5a;
  	font-weight: 400;
  	background: #a1e8dc;
  	border: 2px solid #6ec6b7;
 	margin-top: 50px;
 /* border-right: 2px solid #6ec6b7;
  border-bottom: 2px solid #6ec6b7;
  border-left: 2px solid #6ec6b7;*/
}
#cssmenu ul ul li:first-child > a,
#cssmenu ul ul li.first-item > a {
/*  border-top: 0;
*/}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 1050px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1050px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1050px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1050px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1050px), only screen and (min-resolution: 192dpi) and (max-width: 1050px), only screen and (min-resolution: 2dppx) and (max-width: 1050px) {
  #cssmenu {
    width: 90%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}

div.home-about {
	overflow: hidden;
	max-height: 200px;
	width: 80%;
	background-color: #fff;
	color: #5a5a5a;
	box-shadow: 4px 4px  #e0e0e0;
	margin-top: -90px;
	position: absolute;
	width: 80%;
	left: 10%;
}

div.home-about > p {
	margin: 20px 20px;
	text-align: center;
	line-height: 28px;
}

.main-div{
	background-color: #f5f7f7;
	max-width: 100%;
	margin: 0 auto;
	height: 100px;
}

.search-text {
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
	font-weight: 400;
	color: #5a5a5a;
	letter-spacing: .12em;
	float: right;
	margin-top: 10px;
}

.external-links {
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
	font-weight: 16px;
	color: #5a5a5a;
	letter-spacing: .12em;
	word-spacing: 30px;
	margin: 15px 100px;
	padding-bottom: 30px;
	display: inline-block;
}

div.blog-date{
	overflow: hidden;
	max-height: 200px;
	background-color: #fff;
	color: #5a5a5a;
	box-shadow: 4px 4px  #e0e0e0;
	width: 145px;
	height: 36px;	
}

div.blog-date > p {
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
	font-weight: 14.2px;
	letter-spacing: .12em;
	margin: 5px 20px;
	text-align: center;
	line-height: 28px;
	text-transform: uppercase;
	position: relative;	
}

.head {
	width: 100%;
	position:fixed;
    top:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    z-index: 10000;
}

.head-menu {
	background-color: #6ec6b7;
	height: 140px;
}

.logo {
	width: 210px;
	height: 85px;
	display: inline-block;
	margin: 30px 100px;
}

.nav {
	background-color: #fff;
	display:inline-block;
	width: 30%;
	float: right;
	margin: 60px 100px;
}

.search {
	background-color: #fff;
	width: 100%;
	border-bottom: 3px solid #e0e0e0;
	min-height: 50px;
	top: 100px;
}

.search-white {
	display: none;
}

.search-icon {
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}

.search > div > input[type="text"] {
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
	font-weight: 400;
	color: #5a5a5a;
	letter-spacing: .12em;
	border: 0;
	width: 65px;
}

.image {
	min-height: 643px;
	width: 100%;
	background-color: #5a5a5a;
}

.about {
	overflow: hidden;
	background-color: #fff;
	color:#5a5a5a;
	padding-top: 15px 20px;
	box-shadow: 4px 4px  #e0e0e0;
	position: relative;
	min-height: 200px;
	width: 80%;
	margin: 0 auto;
	left: 130px;
	right: 25%;
	top: 550px;
	display: inline-block;
	left:20%;
	width:50%;
	text-align:center;
	text-transform: uppercase;
}

.pattern {
	width: 100%;
	min-height: 70px;
}

.space {
	width: 100%;
	height: 225px;
}

.preview-row {
	width: 100%;
	background-color: #f5f7f7;
	text-align: center;
	overflow: hidden;
}

.preview-item {
	width: 33%;
	min-width: 350px;
	display: inline-block;
	background-color: #fff;
	vertical-align: bottom;
	margin-top: 40px;
}

.post {
	width: 360px;
	height: 640px;
	background-color: #fff;

}

.post-interior {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.post-interior > h4 {
	font-size: 1.250em;
	line-height: 1.4;
	padding: 15px 25px 15px 25px;
	width: 250px;
	text-align: center;
	margin: auto;
}

.post-interior > img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(25, 25, 112, 1);
    z-index: -1;
}

.post-interior > div.blog-date {
	position: absolute;
	left: 170px;
	margin-top: 235px;
	z-index: 9000;
}

.blog-date {
	position: absolute;
	left: 170px;
	margin-top: 235px;
	z-index: 9000;
}

.post-interior > p.foo {
	color: #5a5a5a;
	font-weight: black;
	text-align: center;
	font-size: 15px;
	margin: 20px;
	font-family: AdobeGaramondProRegular, Georgia, serif;
}

.post-interior > h4 {
	margin-top: 25px;
}

.post-interior > p.author-name {
	text-align: center;
	margin-bottom: 0 0 50px 0;
}

.head-space {
	width: 100%;
	min-height: 60px;
}

.foot-space {
	width: 100%;
	min-height: 60px;
}

.footer {
	width: 100%;
	min-height: 40px;
	background-color: #fff;
	position:fixed;
    height:50px;
    border-top: 3px solid #6ec6b7;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    z-index: 9999;
}

.footer-center {
	background-color: #fff;
	margin: 0 auto;
}

.footer-space {
	width: 100%;
	height: 120px;
}

.home-welcome{
	padding-top: 193px;
}

.home-welcome > img {
	display: block;
}

.green-bar{
    background-image: url('img/MICA_pattern_single.jpg');
    background-repeat: repeat-x; /* for horizontal repeat */
    height:50px;
}

.green-bar > button {
	border: solid 3px;
	border-color: #fff;
	position: relative;
	padding: 0;
	height: 38px;
	width: 216px;
	top: 20%;
	left: 50%;
	margin: -38px -108px;
	opacity: 1;
	color: #6ec6b7;
	background-color: #fff;
}

.green-bar > button:hover {
	background-color: #fff;
	border: solid 3px;
	border-color: #6ec6b7;
	color: #6ec6b7;
	opacity: 1;
}

.green-bar > button:active {
	background-color: #6ec6b7;
	color: #fff;
}

.post-preview {
	position: relative;
}

.post-preview-img {
	position: relative;
	z-index: 1;
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

.post-preview-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	color: #fff;
	background-color: rgba(90, 90, 90, .8);
}

.post-preview-content {
	position: relative;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.post-preview-content p {
	text-align: center;
	color: #fff;
	font-size: 15px;
	max-height: 60px;
	overflow: hidden;
}

.post-preview-content p.post-preview-title {
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 15px;
}

.post-date-center {
	width: 100px;
	margin: auto;
}

.home-title-subtitle {
	width: 100%;
	height: 225px;
}

.title-subtitle {
	width: 100%;
	height: 225px;
}

.home-title-subtitle > h1 {
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;
	font-weight: black;
	font-size: 1.563em;
	line-height: 1.125;
	padding-top: 70px;
	margin-bottom: 0.3em;
	color: #6ec6b7;
	letter-spacing: .12em;
	text-align: center;
}

.title-subtitle > h1 {
	font-family: GriffithGothic Regular, Helvetica, Georgia, serif;
	font-weight: black;
	font-size: 1.563em;
	line-height: 1.125;
	padding-top: 70px;
	margin-bottom: 0.3em;
	color: #6ec6b7;
	letter-spacing: .12em;
	text-align: center;
}

.home-title-subtitle > h2 {
	font-family: GriffithGothic , Helvetica, Georgia, serif;
	font-weight: light;
	font-size: 1.563em;
	line-height: 1.2;
	padding-top: 0.8333em;
	margin-bottom: 0.7em;
	color: #5a5a5a;
	letter-spacing: .120em;
	text-align: center;
}

.title-subtitle > h2 {
	font-family: GriffithGothic , Helvetica, Georgia, serif;
	font-weight: light;
	font-size: 1.563em;
	line-height: 1.2;
	padding-top: 0.8333em;
	margin-bottom: 0.7em;
	color: #5a5a5a;
	letter-spacing: .120em;
	text-align: center;
}

.blog-posts-row {
	width: 100%;
	background-color: #f5f7f7;
	overflow: hidden;
	text-align: center;
}

.post-unit-img {
	position: relative;
}

.post-unit-img > img {
	width: 100%;
	vertical-align: top;
}

.post-item-date p {
	width: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.post-item-title {
	font-family: GriffithGothic Regular, Cambria, Georgia, serif;
	font-weight: bold;
	font-size: 1.250em;
	line-height: 1.4;
	padding: 15px 25px 15px 25px;
	color: #6ec6b7;
	border: 3px solid #6ec6b7;
	letter-spacing: .120em;
	text-align: center;
	width: 250px;
	margin: 50px auto 0 auto;
}

.post-unit {
	display: inline-block;
	width: 380px;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	overflow: hidden;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 30px;
}

.post-unit-content {
	min-height: 600px;
	background-color: #fff;
	overflow: hidden;
}

.post-item-text {
	padding: 1em 2em;
	max-height: 100px;
	overflow: hidden;
}

.post-item-text > p {
	text-align: center;
}

.author-name {
	text-align: center;
	margin-bottom: 0 0 50px 0;
	color: #5a5a5a;
	font-weight: black;
	letter-spacing: .12em;
	text-transform: uppercase;
	font-size: 15px;
	margin: 20px;
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
}

.sm-pattern {
	width: 100%;
	background-color: #6ec6b7;
	height:15px;
}

.sm-space {
	height: 30px;
	width 100%;
}

/*social media*/

.social {
	margin: 12px 100px;
	color: #fff;
	display: inline-block;
	float: right;
}

.icon-behance {
	color: #6ec6b7;
	font-size: 20px;
	padding-right: 15px;
}

.icon-vimeo {
	color: #6ec6b7;
	font-size: 25px;
	padding-right: 15px;
}

.icon-flickr {
	color: #6ec6b7;
	font-size: 25px;
	padding-right: 15px;
}

.icon-facebook {
	color: #6ec6b7;
	font-size: 25px;
	padding-right: 15px;
}

.icon-twitter {
	color: #6ec6b7;
	font-size: 25px;
}

.icon-tumblr {
	color: #6ec6b7;
	font-size: 25px;
	padding-right: 15px;
}

.post-date {
	background-color: #fff;
	color:#5a5a5a;
	box-shadow: 4px 4px  #e0e0e0;
	position: relative;
	text-align:center;
	text-transform: uppercase;
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
	margin: -1em auto;
	padding: 5px;
	width: 50%;
	font-weight: 14.2px;
	letter-spacing: .12em;
	line-height: 28px;
	padding-top: 10px;
}

.post-date > p {
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
	font-weight: 14.2px;
	letter-spacing: .12em;
	margin: 5px 20px;
	text-align: center;
	line-height: 28px;
	text-transform: uppercase;
	position: relative;
	
}

@media screen and (max-width: 1050px) {
	.logo {
		margin: 0 auto;
		position: relative;
		display: block;
		width: 150px;
	}

	.social {
		margin: 10px auto ;
		position: relative;
		display: block;
		float: none;
		width: 100%;
		text-align: center;
	}

	.external-links {
		display: none;
	}
}

@media screen and (max-width: 780px) {

	div.home-about {
	max-height: 180px;
	margin-top: -30px;
	}

	.home-title-subtitle > h1 {
		font-size: 1.3em;
		line-height: 1.125;
		padding-top: 130px;
		margin-bottom: 0.3em;
		letter-spacing: .12em;
	}

	.home-title-subtitle > h2 {
		font-size: 1em;
		line-height: 1.2;
		padding-top: 0.8333em;
		margin-bottom: 0.7em;
		letter-spacing: .120em;
	}

	.title-subtitle > h1 {
		font-size: 1.3em;
		line-height: 1.125;
		padding-top: 80px;
		margin-bottom: 0.3em;
		letter-spacing: .12em;
	}

	.title-subtitle > h2 {
		font-size: 1em;
		line-height: 1.2;
		padding-top: 0.8333em;
		margin-bottom: 0.7em;
		letter-spacing: .120em;
	}

}

@media screen and (max-width: 480px) {

	#cssmenu {
		margin-top: -9000px;
	}

	.head-menu {
		background-color: #6ec6b7;
		height: 50px;
	}

	.logo {
		margin: 0 auto;
		position: relative;
		display: block;
		width: 80px;
		padding-top: 10px; 
	}

	.search {
		display: none;
	}

	.home-welcome {
		padding-top: 50px;
		width: 100%;
	}

	body {
		margin: 0;
		padding: 0;
	}

	.search-white {
		float: right;
		margin-top: -85px;
		margin-right: 10px;
		display: inline-block;
	}

	.preview-item {
		width: 100%;
	}
}



