html, body, applet, object, iframe, svg,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-decoration: inherit;
	text-align: left;
	background: transparent;
	line-height: 28px;
}

header, footer, figure, details, hgroup,
section, article, nav, aside {
	display: block;
}

img, object, audio, video, svg {
	max-width: 100%;
}

.blog-posts-row-2 {
	width: 100%;
	background-color: #f5f7f7;
	overflow: hidden;
}

.post-unit-2 {
	display: inline-block;
	width: 33%;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
    min-width: 350px;
	overflow: hidden;
	vertical-align: top;
}

.post-unit-content-2 {
	height: 600px;
	background-color: pink;
    overflow: hidden;
}

.post-unit-img-2 {
    position: relative;
}

.post-date-2 {
	background-color: #fff;
	box-shadow: 4px 4px  #e0e0e0;
	color:#5a5a5a;
	font-family: GriffithGothic Regular, Helvetica, Georgia, sans-serif;
	line-height: 28px;
    margin: -1em auto;
	padding: 5px;
    position: relative;
	width: 50%;
	text-align:center;
	text-transform: uppercase;
}

.post-item-title-2 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.post-item-text-2 {
    padding: 1em;
}
